[Unit]
Description=nix snapshotter
After=network.target
After=nix-store-mount.service
Requires=nix-store.mount
Before=containerd.service
Before=kubelet.service

[Service]
Type=notify
Environment=HOME=/root
Environment=PATH=$PATH:/nix/var/nix/profiles/default/bin/
Environment=NIX_TOOL=/nix/var/nix/profiles/default/bin/nix
ExecStart=/nix/var/nix/profiles/default/bin/nix-snapshotter
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
